.browser {
  & > div > form > input {
    width: 100%;
    padding: 0.5em;
    border: 2px solid $primary-color-verde-oscuro;
    box-sizing: border-box;
    border-radius: 14px;
    background: $tertiary-color-white;
    opacity: 0.8;
    margin-top: 1em;
    &:focus {
      border: 2px solid $primary-color-verde-oscuro;
      box-shadow: none;
    }
    & > button {
      position: absolute;
      background-image: url(../assets/img/png/search.png);
      background-repeat: no-repeat;
      width: 10px;
      height: 20px;
    }
  }
  &--filter {
    & > button {
      color: $tertiary-color-black;
      background-color: $primary-color-verde-claro;
      width: 28%;
      margin: 0.4em;
      padding: 0.4em;
      border: none;
      border-radius: 17px;
      font-size: 14px;
    }
  }
  
}
