.resultSearch {
  width: 100%;
  height: 100%;
  @include center;
  flex-direction: column;
}

.result {
    & > article > form > input {
      width: 335px;
      padding: 0.5em;
      border: 2px solid $primary-color-verde-oscuro;
      box-sizing: border-box;
      border-radius: 14px;
      background: $tertiary-color-white;
      opacity: 0.8;
      margin-top: 1em;
      &:focus {
        border: 2px solid $primary-color-verde-oscuro;
        box-shadow: none;
      }
      & > button {
        
      }
      
    }
    &--box-btn {
      background-color: transparent;
      border: none;
      position: absolute;
      top: 88px;
      right: 38px;
      position: absolute;
      background-repeat: no-repeat;
        
  
    }
}

.cards-container {
  text-transform: capitalize;
  position: relative;
   & > img {
     width: 98%;
     height: 80%;
     z-index: -10;
     //object-fit: fill;
   }
   
 }

 .dish-image {
   max-width: auto;
   max-height: 300px;
 }

.overlay {
  z-index: 10;
  margin-left: 0px;
  position: absolute;
  top: 55%;
  bottom: 45%;
  width: 344px;
  height: 136px;
  background-color: #FBFFF9;

  & > h4 {
    margin-left: 10px;
    color: black;
    font-size: 16px;
  }
  & > h3 {
    margin-top: 10px;
    margin-left: 10px;
    color: $primary-color-verde-oscuro;
    font-size: 26px;

  }
  
}

 .detailsdish-btn {
   margin-left: 148px;
  
  background-color: $secondary-color-naranja-botones;
    color: white;
    width: 180px;
    height: 28px;
    border-radius: 80px;
    border: none;
    margin-bottom: 2em;
    font-size: 14px;
    &:hover {
      background-color: $secondary-color-naranja-hover;
    }
 }


.list {
    & > div {
        margin-bottom: 0.8em;
        & > button {
            font-size: 12px;
            background-color: $secondary-color-naranja-botones;
            color: white;
            width: 100px;
            height: 32px;
            border-radius: 80px;
            border: none;
            margin-bottom: 0.6em;
            &:hover {
              background-color: $secondary-color-naranja-hover;
            }   
        }
        // &:nth-child(1) {
        //     color: $tertiary-color-white 
        //     & > h3 {
        //     font-size: 20px;
        //     text-transform: capitalize;
        //     }
        //     & > h4{
        //     font-size: 12px;  
        //     }
    
        // }
        // &:nth-child(2) {
        //     //color: $tertiary-color-white //!Descomentar cuando haya imagen
        //     & > h3 {
        //     font-size: 20px;
        //     text-transform: capitalize;
        //     }
        //     & > h4{
        //     font-size: 12px;  
        //     }
    
        // }
        // &:nth-child(3) {
        //     //color: $tertiary-color-white //!Descomentar cuando haya imagen
        //     & > h3 {
        //     font-size: 20px;
        //     text-transform: capitalize;
        //     }
        //     & > h4{
        //     font-size: 12px;  
        //     }
    
        // }
        // &:nth-child(4) {
        //     //color: $tertiary-color-white //!Descomentar cuando haya imagen
        //     & > h3 {
        //     font-size: 20px;
        //     text-transform: capitalize;
        //     }
        //     & > h4{
        //     font-size: 12px;  
        //     }
    
        // }
    }
}

