$primary-color-verde-oscuro: #386641;
$primary-color-verde-medio:#66D039;
$primary-color-verde-claro: #ADF191;

$secondary-color-naranja-claro: #FFC18B;
$secondary-color-naranja-botones: #FF9D47;
$secondary-color-naranja-hover: #FF751F;

$tertiary-color-black: #140800;
$tertiary-color-white: #FBFFF9;
$tertiary-color-grey: #A0A79D;
$tertiary-color-lightgrey: #C2C2C2;

$semantic-color-red: #FF4D42;
$semantic-color-green: #82FF8E;
$semantic-color-yellow: #FBFF32;
$semantic-color-blue: #54CCFF;

